{
  "extends": "@essential-projects/eslint-config",
  "rules": {
    "no-plusplus": ["off"],
    "strict": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
