{
  "extends": "@essential-projects/eslint-config",
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "@typescript-eslint/prefer-for-of": "off"
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "strict": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
